
<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="contact">
            <li class="icon fa-home">
                <strong>Address</strong>
                1234 Fictional Avenue<br>Nashville, TN 00000
            </li>
            <li class="icon fa-phone">
                <strong>Phone</strong>
                (000) 000-0000
            </li>
            <li class="icon fa-envelope">
                <strong>Email</strong>
                information@untitled.tld
            </li>
        </ul>
        <form action="http://192.168.11.2:8080/s/58ee47a26a52fb064c4bf72a" method="post">
            <h4>Get in touch</h4>
            <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field half">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
            </div>
            <ul class="actions">
                <li><input value="Send Message" class="button big" type="submit"></li>
            </ul>
        </form>
    </div>
    <div class="copyright">
        &copy; IBSH. All rights reserved.
    </div>
</footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>