<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<div id="page-wrapper">

    <!-- Main -->
    <section id="main" class="wrapper alt">
        <div class="inner">

            <header class="major special">
                <p>{{ page.description }}</p>
                <h1>{{ page.title }}</h1>
            </header>

            {% if page.image %}<a href="#" class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></a>{% endif %}
            {{ content }}
            <p class="align-right"><i>Posted: {{ page.date | date_to_string }}</i></p>
        </div>
    </section>

    {% include footer.html %}

</div>

</body>

</html>